.titleInputDiv {
    width: 100%;
    height: 40px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.ContentMainWrite {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
}

.titleInputDiv input[type=text] {
    width: 100%;
    height: 90%;
    background-color: white;
    border: none;
    line-height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 20px;
}

.usingTechDiv {
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}


.utHeader {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.resultBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    background-color: white;
}

.resultBox div {
    width: 100%;
    height: 30px;
    padding-left: 2px;
    line-height: 30px;
}

.resultBox div:active {
    background-color: #27C190;
    color: white;
}

.utContent {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.utcHeader, .utcItem {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utcHeader div {
    padding-left: 10px;
    height: 70%;
    line-height: calc(34px * 0.7);
}

.utcNo {
    width: 10%;
    border-right: 1px solid #E8E8E8;
}

.utcItem .utcNo {
    padding-left: 10px;
    border: none;
}

.utcTitle {
    width: 90%;
}

.inputImgDiv {
    width: 100%;
    height: 424px;
    margin-top: 20px;
}

.imgList {
    width: 100%;
    height: 82px;
    margin-bottom: 20px;
    display: inline-block;
}

.imgList div {
    width: 82px;
    height: 82px;
    float: left;
    margin-left: 10px;
}

.imeAreaDiv {
    width: 100%;
    height: 319px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.fileList {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.file {
    width: 100%;
    height: 319px;
    padding-bottom: 24px;
}

.imgItem img {
    width: 82px;
    height: 82px;
}

