.imgBoxDiv {
    margin-bottom: 10px;
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgBoxDiv img {
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border: none;
    width: 128px;
    height: 128px;
}

.imgTitle {
    text-align: center;
    font-size: 0.8em;
    padding-top: 5px;
}

.prjContent {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prjTitle {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    text-align: left;
}

.prjListParent {
    width: 100%;
    height: 60vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prjList {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prjContentParent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
